    
    
    {% extends 'start.html'%}

 

    {% block titulo%}
    CIManager
        {% endblock %}

        {% block bodycontent %}

        <!-- <h1 style="text-align:center;padding-top: 20px;padding-bottom:20px; color:black;"><b>CREAR PRODUCTO</b> </h1> -->
    
    {% if form.errors %}
        <p style ="color: red"> {{form.errors}} </p>

    {% endif %}

    <Form style="padding:20px" action="" method="POST"> {% csrf_token %}

        <table style="margin:0px">
            {{form.as_table}}
        </table>

        <input type='submit' value='Realizar Venta'>
        </form>

        
    {% endblock  %}
    