    {% extends 'start.html'%}

    {% load static %}

    {% block titulo%}
        Nuevo Producto
        {% endblock %}

        {% block bodycontent %}

       
    
    {% if formulario.errors %}
        <p style ="color: red"> El formulario contiene errores </p>

    {% endif %}

    <Form style="padding:20px" action="" method="POST"> {% csrf_token %}

        <table style="margin:0px">
            {{formulario.as_table}}
        </table>

        <input type='submit' value='Enviar'>
        

    </form>
    {% endblock  %}
    