{% extends 'start.html'%}

{% load static %}

{% block titulo %}
  CIManager 
{% endblock %}


{% block bodycontent %}

<div class="align:center"> 
  <!-- <h1 style="text-align:center;padding-top: 20px;padding-bottom:20px; color:black;"><b></b> </h1> -->

  {% for prod in Producto %}

    {{prod}}
    <a class="btn btn-primary" href=" {% url 'borrar_producto' prod.id %}" >Borrar</a>
    {% comment %} <a class="btn btn-primary" href=" {% url 'actualizar_producto' prod.id %}" >Modificar</a> {% endcomment %}
    <br>

  {% endfor %}

  <a class="btn btn-primary" href=" {% url 'crear_producto' %}" >Agregar</a>

{% endblock %}

{% block footer%}

{% endblock %}