{% extends 'start.html'%}

{% load static %}

{% block titulo %}
  CIManager 
{% endblock %}


{% block bodycontent %}

<div class="align:center"> 
  <!-- <h1 style="text-align:center;padding-top: 20px;padding-bottom:20px; color:black;"><b></b> </h1> -->

  {% for vent in ventas%}

    {{vent}}
    <a class="btn btn-primary" href=" {% url 'eliminar_ventas' vent.id %}">Cancelar Venta</a>
    <a class="btn btn-primary" href=" {% url 'update_ventas' vent.id %}">Modificar</a>
    <br>

  {% endfor %}

  <a class="btn btn-primary" href=" {% url 'crear_ventas' %}">Agregar</a>

{% endblock %}

{% block footer%}

{% endblock %}
